{{ header }}
<div id="account-login">
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        </div>
    {% endif %}
    <div class="row no-gutters vh-100 proh bg-template">
        <img src="catalog/view/theme/go/image/apple.png" alt="logo" class="apple right-image align-self-center">
        <div class="col align-self-center px-3 text-center">
            <img src="catalog/view/theme/go/image/logo.png" alt="logo" class="logo-small">
            <h2 class="text-white ">{{ sign_in_text }}</h2>
            <div class="row justify-content-center">
                <div class="col-md-3 col-md-offset-2">
                    <p class="text-white mb-4">{{ pre_login_text }}</p>
                </div>
            </div>
            <script async src="https://telegram.org/js/telegram-widget.js?8" data-telegram-login="{{ telegram_bot }}"
                    data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
        </div>
    </div>
    <script type="text/javascript">
        function onTelegramAuth(user) {
            alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
        }
    </script>
</div>
{{ footer }}
