{{ header }}
<div class="wrapper">
    <div class="header">
        <div class="row no-gutters">
            <div class="col-auto">
                <button class="btn  btn-link text-dark menu-btn"><img src="catalog/view/theme/go/image/menu.png" alt=""><span
                            class="new-notification"></span></button>
            </div>
            <div class="col text-center"><h3 class="header-logo mt-3">HIRO</h3></div>
            <div class="col-auto">
                <a href="profile.html" class="btn  btn-link text-dark"><i class="material-icons">account_circle</i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <input type="text" class="form-control form-control-lg search my-3" placeholder="Search">
        <div class="row">
            {% if products %}
                {% for product in products %}
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card shadow-sm border-0 mb-4" style="height: 250px">
                            <div class="card-body">
                                <button class="btn btn-sm btn-link p-0"><i
                                            class="material-icons md-18">favorite_outline</i>
                                </button>
                                {#                                <div class="badge badge-success float-right mt-1">10% off</div>#}

                                <figure class="product-image"><img src="{{ product.thumb }}" alt="{{ product.name }}">
                                </figure>

                                <a href="{{ product.href }}"
                                   class="text-dark mb-1 mt-2 h6 d-block">{{ product.name }}</a>
                                <p class="text-secondary small mb-2">{#product subtitle here#}</p>
                                <h5 class="text-success font-weight-normal mb-0">{{ product.price }}</h5>
                                <p class="text-secondary small text-mute mb-0">{{ product.weight | number_format(2) }}
                                    <sub>kg</sub></p>
                                <button onclick="cart.add({{ product.product_id }}, {{ product.minimum }}, '#product_cart_{{ loop.index }}')"
                                        id="product_cart_{{ loop.index }}"
                                        class="btn btn-default button-rounded-36 shadow-sm float-bottom-right"><i
                                            class="material-icons md-18">shopping_cart</i></button>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="btn btn-default btn-rounded mb-3">
                    <div class="btn-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h6 class="d-inline-block text-left mx-2 mb-0 text-normal">Loading Content<br><small
                                class="text-mute">Please wait for a while...</small></h6>
                </div>
            </div>
        </div>
        {{ footer }}
    </div>
</div>
