{{ header }}
<!--suppress ALL -->
<div class="wrapper">
    <div class="header">
        <div class="row no-gutters">
            <div class="col-auto">
                <button class="btn  btn-link text-dark menu-btn"><img src="catalog/view/theme/go/image/menu.png" alt=""><span
                            class="new-notification"></span></button>
            </div>
            <div class="col text-center"><h3 class="header-logo mt-3">HIRO</h3></div>
            <div class="col-auto">
                <a href="index.php?route=account/login" class="btn  btn-link text-dark"><i class="material-icons">account_circle</i></a>
            </div>
        </div>
    </div>
    <div id="product-product" class="container">
        <div class="row mx-0">
            <div class="col mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if loop.last %}
                                <li class="breadcrumb-item active">
                                    {{ breadcrumb.text }}
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">
                                    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
        {% if thumb or images %}
        {% if images %}
            <!-- Swiper -->
            <div class="swiper-container product-details">
                <div class="swiper-wrapper">
                    {% for image in images %}
                        <div class="swiper-slide">
                            <img src="{{ image.popup }}" alt="{{ heading_title }}">
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        {% endif %}
        <button class="btn btn-sm btn-link p-0"><i class="material-icons md-18">favorite_outline</i></button>
        <a target="_blank" href="{{ share_href }}" class="btn btn-sm btn-default btn-rounded ml-2 text-white"><i class="material-icons mb-18 mr-2">share</i>Share</a>
        <div class="badge badge-success float-right mt-1">10% off</div>

        <p class="text-secondary my-3 small">
            <i class="material-icons text-warning md-18 vm">star</i>
            <i class="material-icons text-warning md-18 vm">star</i>
            <i class="material-icons text-warning md-18 vm">star</i>
            <i class="material-icons text-secondary md-18 vm">star</i>
            <i class="material-icons text-secondary md-18 vm">star</i>
            <span class="text-dark vm ml-2">Rating 4.2</span> <span class="vm">based on 245 reviews</span>
        </p>

        <a href="#" class="text-dark mb-1 mt-2 h6 d-block">{{product.name}}
            <span class="small float-right badge bg-warning">
                    <i class="material-icons h5 mb-0">timer</i>
                    <span id="timer" class="vm">
                        <span id="days"></span><small>d</small>
                        <span id="hrs"></span><small>h</small>
                        <span id="min"></span><small>m</small>
                        <span id="sec"></span><small>s</small>
                    </span>
                </span>

        </a>
    </div>
    {% endif %}
</div>
<script type="text/javascript"><!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
        $.ajax({
            url: 'index.php?route=product/product/getDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function () {
                $('#recurring-description').html('');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('#button-cart').on('click', function () {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function () {
                $('#button-cart').button('loading');
            },
            complete: function () {
                $('#button-cart').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-control').removeClass('is-invalid');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    if (json['error']['quantity']) {
                        $('input[name=\'quantity\']').after('<div class="text-danger">' + json['error']['quantity'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').each(function () {
                        var element = $(this).parent().find(':input');

                        if (element.hasClass('form-control')) {
                            element.addClass('is-invalid');
                        }
                    });

                    $('.invalid-tooltip').show();
                }

                if (json['success']) {
                    html = '<div id="toast" class="toast">';
                    html += '  <div class="toast-header">';
                    html += '	 <strong class="mr-auto"><i class="fas fa-shopping-cart"></i> Shopping Cart</strong>';
                    html += '    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>';
                    html += '  </div>';
                    html += '  <div class="toast-body">' + json['success'] + '</div>';
                    html += '</div>';

                    $('body').append(html);

                    $('#toast').toast({'delay': 3000});
                    $('#toast').toast('show');

                    $('#cart').parent().load('index.php?route=common/cart/info');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        'format': 'YYYY-MM-DD',
        'locale': '{{ datepicker }}',
        'allowInputToggle': true
    });

    $('.time').datetimepicker({
        'format': 'HH:mm',
        'locale': '{{ datepicker }}',
        'allowInputToggle': true
    });

    $('.datetime').datetimepicker({
        'format': 'YYYY-MM-DD HH:mm',
        'locale': '{{ datepicker }}',
        'allowInputToggle': true
    });
    //--></script>
<script type="text/javascript"><!--
    $('button[id^=\'button-upload\']').on('click', function () {
        var element = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(element).button('loading');
                    },
                    complete: function () {
                        $(element).button('reset');
                    },
                    success: function (json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(element).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(element).parent().find('input').val(json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function (e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

    $('#button-review').on('click', function () {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id={{ product_id }}',
            type: 'post',
            dataType: 'json',
            data: $('#form-review').serialize(),
            beforeSend: function () {
                $('#button-review').button('loading');
            },
            complete: function () {
                $('#button-review').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function () {
        $('.thumbnails').magnificPopup({
            type: 'image',
            delegate: 'a',
            gallery: {
                enabled: true
            }
        });
    });
    //--></script>
{{ footer }}
<!-- page level script -->
<script>
    $(window).on('load', function () {
        var swiper = new Swiper('.product-details ', {
            slidesPerView: 1,
            spaceBetween: 0,
            pagination: {
                el: '.swiper-pagination'
            }
        });


        /* counter count down script */
        var now = new Date();
        now.setDate(now.getDate() + 2);
        var countDownDate = new Date(now).getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("days").innerHTML = days;
            document.getElementById("hrs").innerHTML = hours
            document.getElementById("min").innerHTML = minutes
            document.getElementById("sec").innerHTML = seconds

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 1000);

    });

</script>
